.jumbotron {
    margin-top: 3.5rem;
    padding-top: 1rem;
    background-color: #eaeaea;
}

.projects {
    background-color: #eaeaea;
}

.footer {
    margin-top: -2px;
    background-color: #6c757d;
}